<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Fishbowl Game</title>
		<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
		<link rel="stylesheet" href="/static/style.css">
	</head>

	<body>

		<div class="card">
			<div class="header">
				<h1>Play Fishbowl</h1>
				<form action="/">
					<button type="submit">↻ Restart</button>
				</form>
			</div>
			<div>
				<form hx-post="/words" hx-target="#messages" hx-on::after-request="if (event.detail.successful) this.reset()">
					<label for="word-box">Enter a word</label>
					<div class="input-row">
						<input type="text" id="word-box" name="word">
						<button hx-post="/word">Add to bowl</button>
					</div>
				</form>
				<div id="messages"></div>
				<div class="spacer">
				</div>
				<form action="/game">
					<button>
						Start game
					</button>
				</form>
			</div>
		</div>
	</body>
</html>
